<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="active"><a href="#/home"><i class=" icon-home"></i><span>Home</span> </a> </li>
        <li ng-show="adminType"><a href="#/slot"><i class=" icon-th" ></i><span>Slot Status</span> </a> </li>
        <li ng-show="adminType"><a href="#/settings" ><i class="icon-cog"></i><span>Settings</span> </a></li>
        <li ng-show="adminType"><a href="#/user" ><i class="icon-user "></i><span>User</span> </a></li>
        <li ><a href="#/password"><i class="icon-asterisk  "></i><span>Password</span> </a></li>
        <li ng-click="logout()"><a href><i class="icon-signout "></i><span>Logout</span> </a> </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span5">
          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3>Booking</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content" >
                  <div class="shortcuts" style="margin-top:30px;">
                    <a href class="shortcut" ng-click="advance()">
                      <i class="shortcut-icon icon-list-alt"></i>
                      <span class="shortcut-label">Advance</span>
                    </a>
                    <a href class="shortcut" ng-click="showCancelList()">
                      <i class="shortcut-icon icon-list-alt"></i>
                      <span class="shortcut-label">Cancel</span>
                    </a>
                  </div>
                </div>
                <!-- /widget-content -->

              </div>
            </div>
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 -->
        <div class="span7">
          <!-- slot -->
          <div class="widget" ng-show="bookingWindow">
            <div class="widget-header">
              <i class="icon-bookmark"></i>
              <h3>Slot</h3>
              <button class="btn btn-primary btn-block control-button" ng-click="book()">
                  &nbsp;&nbsp;Book&nbsp;&nbsp;
              </button>
              <button class="btn btn-default control-button" ng-click="print('printable')"><i class="icon-print"></i>&nbsp;&nbsp;&nbsp;</button>
              
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <slot-table></slot-table>
              <button class="btn btn-primary btn-block control-button" ng-click="book()">
                &nbsp;&nbsp;Book&nbsp;&nbsp;</button>
            </div>
            <!-- /widget-content -->
          </div>
          <!--cancel -->
          <div class="widget" ng-hide="bookingWindow">
            <div class="widget-header">
              <i class="icon-bookmark"></i>
              <h3>Cancel</h3>
              <button class="btn btn-primary btn-block control-button" ng-click="cancel()">
                  &nbsp;&nbsp;Cancel&nbsp;&nbsp;
              </button>
              <button class="btn btn-default control-button" ng-click="print('cancelList')"><i class="icon-print"></i>&nbsp;&nbsp;&nbsp;</button>
              
            </div>
            <!-- /widget-header -->
            <div class="widget-content" id="cancelList">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th> User</th>
                    <th> Date (dd/mm/yyyy)</th>
                    <th> Slot</th>
                  </tr>
                </thead>
                <tbody ng-repeat="list in bookedList">
                  <tr>
                    <td>
                      <input type="radio" name="cancel" ng-model="toCancel.id" ng-value="list"/>
                    
                    </td>
                    <td>
                      {{list.username}}
                    </td>
                    <td>
                      {{list.date | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                      slot {{list.slot}}
                    </td>
                  </tr>
                </tbody>
              </table>
              
              <button class="btn btn-primary btn-block control-button" ng-click="cancel()">
                &nbsp;&nbsp;Cancel&nbsp;&nbsp;</button>
            </div>
            <!-- /widget-content -->
          </div>
        </div>
        <!-- /span6 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
