<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li ><a href="#/home"><i class=" icon-home"></i><span>Home</span> </a> </li>
        <li ng-show="adminType"><a href="#/slot"><i class=" icon-th "></i><span>Slot Status</span> </a> </li>
        <li ng-show="adminType"><a href="#/settings" ><i class="icon-cog"></i><span>Settings</span> </a></li>
        <li ng-show="adminType"><a href="#/user"><i class="icon-user "></i><span>User</span> </a></li>
        <li class="active"><a href="#/password"><i class="icon-asterisk"></i><span>Password</span> </a></li>
        <li ng-click="logout()"><a href><i class="icon-signout "></i><span>Logout</span> </a> </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span5">
          <div class="widget">
            <div class="widget-header">
              <i class="icon-user"></i>
              <h3>User's Account</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <form id="old-password" class="form-horizontal">
									<fieldset>
										<div class="control-group">
											<label class="control-label" for="username" style="width: 100px; padding-right:10px;">Old Password</label>
											<div class="controls">
												<input type="password" class="span5" id="oldpassword" value="" ng-model="password.oldPass" placeholder="Old Password">
											</div> <!-- /controls -->
										</div> <!-- /control-group -->
  									<div class="control-group" ng-show="passwordVerify">
  											<label class="control-label" for="username" style="width: 100px; padding-right:10px;">New Password</label>
  											<div class="controls">
  												<input type="password" class="span5" id="newpassword" ng-model="password.newPass1" value="" placeholder="New Password">
  											</div> <!-- /controls -->
  										</div> <!-- /control-group -->
                      <div class="control-group" ng-show="passwordVerify">
  											<label class="control-label" for="username" style="width: 100px; padding-right:10px;">Confirm it</label>
  											<div class="controls">
  												<input type="password" class="span5" id="confirm" ng-model="password.newPass2" value="" placeholder="Confirm">
  											</div> <!-- /controls -->
  										</div> <!-- /control-group -->
                      <button type="button" class="btn btn-primary" style="float: right;" 
                              ng-if="!passwordVerify" ng-click="verify()">Verify</button>
                      <button type="button" class="btn btn-primary" style="float: right;" 
                              ng-if="passwordVerify" ng-click="change()">Submit</button>
  									</fieldset>
  								</form>
            </div>
            <!-- /widget-content -->
          </div>
        </div>
        <!-- /span6 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
