<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li ><a href="#/home"><i class=" icon-home"></i><span>Home</span> </a> </li>
        <li ng-show="adminType"><a href="#/slot"><i class=" icon-th "></i><span>Slot Status</span> </a> </li>
        <li ng-show="adminType" class="active"><a href="#/settings" ><i class="icon-cog"></i><span>Settings</span> </a></li>
        <li ng-show="adminType" ><a href="#/user"><i class="icon-user "></i><span>User</span> </a></li>
        <li ><a href="#/password"><i class="icon-asterisk"></i><span>Password</span> </a></li>
        <li ng-click="logout()"><a href><i class="icon-signout "></i><span>Logout</span> </a> </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span5">
          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3>Set Not Availability Date</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content" >
                  <div style="display:inline-block; min-height:290px;">
                    <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                  </div>
                  <br>
                  <h4>Date: <strong><em style="color:#319BC0;">{{dt | date:'fullDate' }}</em></strong></h4>
                  <br>
                  <select style="display: inline-block; margin-bottom:0;" 
                          name="singleSelect" 
                          id="singleSelect" 
                          ng-model="data.singleSelect"
                          ng-init="data.singleSelect='holiday'">
                    <option value="holiday" selected="true">Holiday</option> <!-- interpolation -->
                    <option value="maintenance">Maintenance</option>
                  </select>
                  <button class="btn btn-primary btn-lg" style="display: inline-block;" ng-click="add()">Add</button>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="span7">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3>Holiday List</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content" >
                  <table class="table">
                    <tr>
                      <th>Date</th><th>Reason</th><th>Action</th>
                    </tr>
                    <tr ng-repeat = "list in holidayList">
                      <td><strong>{{ list.date | date:'fullDate'}}</strong></td>
                      <td style="text-transform: capitalize;"><strong>{{list.reason}}</strong></td>
                      <td><button class="btn btn-danger btn-sm" ng-click="remove(list.date)">Remove</button></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>