<div id="printable">
  <form name="myForm" >
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th> Date (dd/mm/yyyy)</th>
          <th> Slot 1</th>
          <th> Slot 2</th>
        </tr>
      </thead>
      <tbody ng-repeat="i in dateRange">
        <tr >
          <td>
            {{i.slot[0].date | date: 'dd/MM/yyyy'}}
          </td>
          <td>
            <span class="slot">
              <input type="radio" name="slot" ng-model="$parent.slotValue" ng-value = "i.slot[0]" ng-disabled="isDisabled(i.slot[0].date)">
            </span>
            <span ng-if="getDate(i.slot[0].date)  != 1 && getDate(i.slot[0].date)  != -1 && dayOfWeek(i.slot[0].date) != 6 && dayOfWeek(i.slot[0].date) != 0" style="color:#00BA8B;">&nbsp;Available</span>
            <span style="color: #0073e6;" ng-if="isMaintenance(i.slot[0].date)">&nbsp;Maintenance</span>
            <span style="color: #ffa31a;" ng-if="isHoliday(i.slot[0].date)">&nbsp;Holiday</span>
            <span style="color: #ff4d4d;" ng-if="getDate(i.slot[0].date)  == -1">&nbsp;Not Available</span>
          </td>
          <td>
            <span class="slot">
              <input type="radio" name="slot" ng-model="$parent.slotValue" ng-value = "i.slot[1]" ng-disabled="isDisabled(i.slot[0].date)">
              <span ng-if="getDate(i.slot[0].date) != 1 && getDate(i.slot[0].date) != -1 && dayOfWeek(i.slot[0].date) != 6 && dayOfWeek(i.slot[0].date) != 0" style="color:#00BA8B;">&nbsp;Available</span>
              <span style="color: #0073e6;" ng-if="isMaintenance(i.slot[0].date)">&nbsp;Maintenance</span>
              <span style="color: #ffa31a;" ng-if="isHoliday(i.slot[0].date)">&nbsp;Holiday</span>
              <span style="color: #ff4d4d;" ng-if="getDate(i.slot[0].date) == -1">&nbsp;Not Available</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>